PROJECT_NAME=owasp

###################
### ENVIRONMENT ###
###################
# Project environment, values can be "local" or "production"
ENV=local

# Docker hub (use docker.io if you don’t have access to the TCM Docker Hub proxy)
HUB_PROXY=docker.hub.thecodingmachine.io

APP_DATA_ENCRYPTION_KEY=change-me-training-key-32chars-min

###################
### GLOBAL ########
###################
DOMAIN=${PROJECT_NAME}.localhost
DEBUG=1
HTTP_PROTOCOL=https
ACME_EMAIL=contact@${DOMAIN}
LETS_ENCRYPT_SERVER=https://acme-v02.api.letsencrypt.org/directory

###################
### LARAVEL #######
###################
APP_NAME="OWASP"
APP_KEY=base64:7wuoefLr/9WD/8j1i3/gatjuMQbcsblEgjTQhYruXvQ=
APP_LOCALE=fr
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=fr_FR

LOG_CHANNEL=daily
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.${DOMAIN}
SESSION_SECURE_COOKIE=1

FILESYSTEM_DISK=local

CACHE_STORE=redis
CACHE_PREFIX=owasp_cache_

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

###################
### MAILING #######
###################
MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=mailing
MAIL_PORT=1025
MAIL_USERNAME=owasp
MAIL_PASSWORD=owasp
MAIL_FROM_ADDRESS=no-reply@${PROJECT_NAME}.localhost
MAIL_FROM_NAME=${APP_NAME}

###################
### DATABASE ######
###################
DATABASE_HOST=database
DATABASE_NAME=${PROJECT_NAME}
DATABASE_USER=${PROJECT_NAME}
DATABASE_PASSWORD=${PROJECT_NAME}
DATABASE_ROOT_PASSWORD=${PROJECT_NAME}

### PMA
PMA_HOSTS=database

###################
### REDIS #########
###################
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=G2MS0Ln5UJ2s
REDIS_PORT=6379
